In [9]:
def make_album(artist_name,album_title):
  
    person = {'name': artist_name, 'album': album_title}
    print(person)
make_album("hammad","333")

{'name': 'hammad', 'album': '333'}

In [10]:
#sir
def make_album(artist_name,album_title):
    person = {'artist_name': artist_name, 'album_title': album_title}
    return person

In [11]:
make_album("hammad" , "555")

{'artist_name': 'hammad', 'album_title': '555'}

In [12]:
album_1 = make_album("sami","33")

In [13]:
album_2 = make_album("zia","999")

In [14]:
make_album(album_1,album_2)

{'artist_name': {'artist_name': 'sami', 'album_title': '33'},
 'album_title': {'artist_name': 'zia', 'album_title': '999'}}

In [15]:
def make_album(artist_name,album_title,trackes = " "):
    person = {'artist_name': artist_name, 'album_title': album_title}
    if trackes:
        person['trackes'] = trackes
    return person

In [16]:
album_1 = make_album("sami","33",12)
album_2 = make_album("zia","999")

In [17]:
print(album_1,album_2)

{'artist_name': 'sami', 'album_title': '33', 'trackes': 12} {'artist_name': 'zia', 'album_title': '999', 'trackes': ' '}

In [18]:
def player(name,num):
    dic = {"name":name,"num":num}
    return dic
player("hammad",41)

{'name': 'hammad', 'num': 41}

In [19]:
player_1 = player("sami",99)

In [20]:
player_2 = player("ebad",45)

In [21]:

print(player_1,player_2)

{'name': 'sami', 'num': 99} {'name': 'ebad', 'num': 45}

In [22]:
def player(name,num,hight=" "):
    dic = {"name":name,"num":num}
    if hight:
        dic['hight'] = hight
    return dic
player("hammad",41)

{'name': 'hammad', 'num': 41, 'hight': ' '}

In [23]:
player_1 = player("sami",99,6.5)
player_2 = player("ebad",45,5.4)
player_3 = player("ebad",45)

In [24]:
print(player_1,player_2,player_3)

{'name': 'sami', 'num': 99, 'hight': 6.5} {'name': 'ebad', 'num': 45, 'hight': 5.4} {'name': 'ebad', 'num': 45, 'hight': ' '}

In [25]:
dicti = {}
def make_album(artist_name,album_title,trackes):
    
    while True:
        artist = input("enter a artist name")
        album = input("enter a album")
        trackes = int(input("enter a num"))
        user = input("cont to yes r exit to no")
        if user == "exit":
            break
       
        if artist:
            dicti["artist"] = artist
        if album:
            dicti["album"] = album
        if trackes:
            dicti["trackes"] = trackes
        
    return dicti

In [26]:
make_album("hammad",55,55)




for i in dicti:
    print(i)

enter a artist name
enter a album
enter a num

ValueError: invalid literal for int() with base 10: ''

In [27]:
def salary_calculator(basic_salary):
    tax_ded = 0
    if basic_salary < 30000:
        tax_ded = 0
    elif basic_salary >= 30000 and basic_salary < 50000:
        tax_ded = 5
    elif basic_salary >= 50000 and basic_salary < 100000:
        tax_ded = 10
    else:
        tax_ded = 15
    total_ded =  basic_salary * tax_ded /100
    grows_salary = basic_salary - total_ded
    return grows_salary

In [28]:
basic_salary = input("enter a basic salary of employ")
basic_salary = int(basic_salary)




grows_salary=salary_calculator(basic_salary)
print(f"the grows salary of the employ is {grows_salary}")

enter a basic salary of employ

ValueError: invalid literal for int() with base 10: ''

In [29]:
def text_cal():
    tax_ded = 0
    if basic_salary < 30000:
        tax_ded = 0
    elif basic_salary >= 30000 and basic_salary < 50000:
        tax_ded = 5
    elif basic_salary >= 50000 and basic_salary < 100000:
        tax_ded = 10
    else:
        tax_ded = 15
    total_ded = text_cal(basic_salary)
    return total_ded

In [30]:
def salary_calculator(basic_salary):
    grows_salary = basic_salary - text_cal(basic_salary)
    return grows_salary
def text_cal(basic_salary):
    tax_ded = 0
    if basic_salary < 30000:
        tax_ded = 0
    elif basic_salary >= 30000 and basic_salary < 50000:
        tax_ded = 5
    elif basic_salary >= 50000 and basic_salary < 100000:
        tax_ded = 10
    else:
        tax_ded = 15
    tot_tax = basic_salary * tax_ded /100
    return tot_tax

In [31]:
basic_salary = int(input("enter a salary"))
gross_salary=salary_calculator(basic_salary)
print(gross_salary)

enter a salary

ValueError: invalid literal for int() with base 10: ''